.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
  max-width: 100%;
  min-width: 100%;
}

.react-tagsinput--focused {
  border-color: #d5d5d5;
}

.react-tagsinput-tag {
  background-color: #f3f3f3;
  border-radius: px; /* Updated border-radius value */
  border: 0px;
  color: #777777;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: "  x";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 200px;
}
